.main-container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

h2 {
    margin-bottom: 15px;
    margin-inline: 2%;
}

.list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vehicle-card {
    width: 20%;
    margin-inline: 15px;
    margin-bottom: 15px;
    min-height: 300px;
    max-height: 400px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


    .vehicle-card:hover {
        transform: scale(1.05);
    }

    .vehicle-card img {
        width: 100%;
        height: 45%;
        object-fit: cover;
    }

.vehicle-card-body {
    height: 55%;
    padding-inline: 3px;
}


    .vehicle-card-body .top {
        height: 50%;
        text-align: center;
    }
        .top .card-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            display: block;
        }



    .vehicle-card-body .bottom {
        height: 25%;
        display: flex;
        padding-bottom: 2%;
    }

.middle{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
    .middle div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.bottom a {
    width: 30%;
    text-decoration: none;
    color: #F6502A
}

.bottom h6 {
    width: 70%;
}

h5 {
    margin-top: 5px;
}
