@page
@model IndexModel
@{
    ViewData["Title"] = "VehicleLocation";
}
<div class="text-center">
    <h1>Rent a vehicle now !</h1>
    <button class="btn btn-primary" onclick="location.href='/list'">Rentable vehicles list</button>
</div>
