@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="home-container">
    <h1 class="main-heading">Rent a vehicle now !</h1>
    
    <a href="/list" class="btn-primary-custom">
        See rentable vehicles
    </a>

    <p class="sub-heading">Or Rent your own vehicle !</p>

    <a href="/rent" class="btn-secondary-custom">
        Rent my vehicle
    </a>
</div>